/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Front of the header*/

.header{
  background-color: #F9F9FA;
  padding : 15px 0px 15px 0px;
}

.header a{
  color : black;
}

.header a:hover{
  border-radius: 9px;
  background-color: #A3E6F2;
  color : black;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  transition: 0.5s;
  border : none;
}

/*welcoming*/

.welcome{
  width :100%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
}

/*All about project view*/
.project_name{
  background-color: #02C2E6;
  width : 200px;
  padding : 50px 0px 50px 0px;
  color : black;
  border-radius: 5px;
  transition: 0.5s;
}

.project a:hover{
  text-decoration: none;
}

.project_name:hover{
  color : black;
  text-decoration: none;
  border : none;
  border-radius: 100px;
  transition: 0.5s;
}

/*For the add icon*/

.add a i{
  text-align: center;
  font-size:  300%;
  color: black;
}

.add a i:hover{
  text-align: center;
  color: #02C2E6;
  -moz-animation: spin .6s 0.5 linear;
    -o-animation: spin .6s 0.5 linear;
    -webkit-animation: spin .6s 0.5 linear;
    animation: spin .6s 0.5 linear;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); }
}

@-o-keyframes spin {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); }
}

@-ms-keyframes spin {
    0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}

/*About removing a project*/

.trash {
  background-color: rgba(#f9f9fa  , 0.5);
}

.trashin{
  font-size: 20px;
  border : none;
}

.trashin:hover{
  background-color: #f9f9fa;
  border : none;
  transition: 0.3s;
  color : red;
}

/*on page project, project details*/

.list_name .detail_project{
  list-style :none;
}

/*connexion page*/

.connect {
  width: 100%;
  margin-top: 20px;
  padding: 30px 0px 30px 20px;
}

.connect p{
  margin-top: 10px;
}
.connect_form{
  margin-left: 500px;
}


.connect_form input{
  border: none;
  border-bottom: 3px solid grey;
}

.connect_form input:hover{
  border-bottom: 3px solid #02C2E6;
  transition: 0.4s;
  box-shadow: 5px 5px 5px lightgrey;
}

.connect .connect_form .sub{
  background-color: #02C2E6;
  padding: 5px 10px 5px 10px;
  color : black;
  font-size: 20px;
  margin-top: 20px;
  border: none;
  transition: 0.3s;
  margin-left: 60px;
}

.connect .connect_form .sub:hover{
  border-radius: 100px;
  transition: 0.6s;
}

.signin{
  width : 80%;
  margin-left: 200px;
  text-align: right;
}

.connect .signin a{
  background-color: #02C2E6;
  padding: 5px 10px 5px 10px;
  color : black;
  font-size: 20px;
  margin-top: 20px;
  border: none;
  transition: 0.3s;
}

.connect  .signin a:hover{
  border-radius: 100px;
  transition: 0.6s;
  text-decoration: none;
  box-shadow: 5px 5px 5px lightgrey;

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
